.answers {
    position: relative;
    margin-bottom: 40px;
}

.answers_swiper {
    margin-top: 20px;
}

.answers_card_title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 26px;
}

.answers_card_text {
    text-indent: 30px;
    margin-bottom: 15px; /* Додаємо відступи між абзацами */
}

.answers_slide {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0; 
    height: auto; 
}

.answers_card {
    width: 100%;
    max-width: 900px;
    text-align: justify;
    border: 1px solid #f5a020;
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto; 
}

.swiper-button-next,
.swiper-button-prev {
  color: #f5a020;
  top: 55%;
  transform: translateY(-50%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff;
}

.footer_text {
    margin-top: 20px;
    text-align: center;
    color: #f5a020;
}
.footer_text span {
    text-transform: uppercase;
}

@media (max-width: 990px) {
    .answers_swiper {
        padding: 0 30px;
    }
    .answers_card {
        max-width: 750px;
    }
    .title {
        font-size: 45px;
    }
    .answers_card_text {
        font-size: 20px;    
    }
}

@media (max-width: 800px) {
    .answers_swiper {
        height: 450px;
    }
    .title {
        font-size: 42px;
    }
    .answers_card {
        padding: 20px;
        border-radius: 15px;
    }
    .answers_card_title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .answers_card_text {
        font-size: 16px;
        text-indent: 20px;
    }
}
@media (max-width: 500px) {
    .title {
        font-size: 38px;
    }
}
@media (max-width: 480px) {
  .answers {
    padding: 0 10px;
  }

  .answers_card {
    padding: 15px;
    max-width: 290px;
  }

  .answers_card_title {
    font-size: 20px;
  }

  .answers_card_text {
    font-size: 15px;
    text-indent: 15px;
  }
}