.footer {
    margin-bottom: 20px;
}

.footer_text {
    color: #f5a020;
    text-align: center;
}
.footer_text span {
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .footer {
        margin-top: 10px;
    }

    
}