.skills {
    text-align: center;
    margin: 100px 0;
    scroll-margin-top: 100px;
}
  
.skills_swiper {
    margin-top: 50px;
}
  
.slide_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    background-color: #000;
}
.slide_card:hover {
    transform: scale(1.05);
}
  
.slide_card_img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 5px #f5a020;
    padding: 30px;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    margin-top: 20px;
}
  
.slide_label {
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f5a020;
  top: 55%;
  transform: translateY(-50%);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff;
}

@media (max-width: 1100px) {
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
}
@media (max-width: 830px) {
    .slide_card_img {
        width: 150px;
        height: 150px;
    }
    
}
@media (max-width: 800px) {
    .swiper_skl {
        height: 250px;
    }
}
@media (max-width: 700px) {
    .slide_card_img {
        width: 120px;
        height: 120px;
    }
    .slide_card_img {
        padding: 10px;
    }
    
}
@media (max-width: 570px) {
    .slide_card_img {
        width: 100px;
        height: 100px;
    }
    .skills {
        margin-bottom: 40px;
    }
}
@media (max-width: 490px) {
    .slide_card_img {
        width: 70px;
        height: 70px;
    }
}
