.about_parallax_text {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.about {
    max-width: 100%;
}

.about_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.about_top_left {
    padding: 10px;
    max-width: 1100px;
}

.top_left_title {
    font-size: 48px;
    text-align: justify;
    margin-bottom: 90px;
    margin-top: 30px;
}
.top_left_title span {
    text-align: center;
}

.top_left_text {
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
    margin-bottom: 40px;
}
.top_left_text span {
    font-weight: 800;
    color: #f5a020;
    text-shadow: 0px 0px 3px #f5a020;
}
