
:root {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.2px; 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0; /* Скидає стандартні відступи */
}

#root {
  max-width: 100%;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 90px;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  font-size: 52px;
  scroll-margin-top: 100px;
  color: #f5a020;
  text-shadow: 1px 1px 6px #f5a020;
  text-align: center;
}